<div style="padding: 15px;">
  <h1 class="page-header">Create New Game</h1>
  <div class="label">
    Enter your game's name:
  </div>
  <input id="gameName" type="text" class="input" placeholder="Game Name" />
  <br/>
  <br/>
  <div class="num-players">
    <a onclick="updateNumberOfPlayers(false)" class="minus"><i class="fa fa-minus"></i></a>
    <span id="numberOfPlayers">4 Players</span>
    <a onclick="updateNumberOfPlayers(true)" class="plus"><i class="fa fa-plus"></i></a>
  </div>
  <div id="players-names">
    <input id="player-1" class="input" type="text" placeholder="Player 1's Name" />
    <input id="player-2" class="input" type="text" placeholder="Player 2's Name" />
    <input id="player-3" class="input" type="text" placeholder="Player 3's Name" />
    <input id="player-4" class="input" type="text" placeholder="Player 4's Name" />
  </div>
  </br/>

  <div class="checkBox">
    <label for="lowestWins">
      <input id="lowestWins" type="checkbox" name="lowestWins" value="lowWins" />

      <span class="checkbox-icon"><i class="fa fa-check"></i></span>
      Lowest score wins?
    </label>
  </div>
  <br/>

  <button class="new-game btn" onclick="startGame()">Start Game</button>
</div>
