html {
  font-family: 'Roboto', sans-serif;
  background-color: lightgrey;
}

body {
  margin: 0;
}

a {
  color: rgb(69, 123, 173);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#header {
  background-color: rgb(7, 23, 47);
  height: 20%;
  position: absolute;
  z-index: 0;
  top: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#homeButton {
  z-index: 2;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid;
  padding: 5px;
  border-radius: 3px;
}

#homeButton:hover {
  color: lightgrey;
  border-color: lightgrey;
}

.title {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 15px;
  margin-top: 0;
  margin-bottom: 15px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.icon {
  padding-right: 10px;
}

.fa-trophy {
  color: rgb(138, 135, 59);
}

.container {
  z-index: 1;
  position: relative;
  margin-top: 65px;
}

.game-leader {
  margin-right: -20px;
}
.page-header {
}

.new-game {
  width: 100%;
}

.btn {
  border-radius: 4px;
  box-shadow: 5px 5px 3px #ddd;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  font-family: 'Roboto', sans-serif;
  margin: 15px 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn:hover {
  box-shadow: 3px 3px 3px #ddd;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.input {
  width: 100%;
  border-radius: 3px;
  border-color: lightgrey;
  padding: 5px;
  border: 1.5px solid #ddd;
  margin-top: 2px;
  margin-bottom: 2px;
}

.up,
.down {
  display: inline;
}

.label {
  font-size: 20px;
}

.num-players {
  font-size: 20px;
  user-select: none;
}

.num-players::-moz-selection,
.num-players::selection {
  background-color:Transparent;
  color:#000;
}

.played-games {
  width: 100%;
}

.minus {
  margin-right: 10px;
}

.plus {
  margin-left: 10px;
}

.game-name {
  width: 50%;
  display: inline-block;
  color: rgb(69, 123, 173);
}

.game-name-header {
  width: 50%;
  display: inline-block;
  font-weight: bold;
}

.game-winner {
  width: 50%;
  display: inline-block ;
}

.game-winner-header {
  font-weight: bold;
}

.game {
  margin: 10px;
  cursor: pointer;
}

.slideOut {
  transform: translatex(-200%);
  background-color: white;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.slideIn {
  transform: translatex(0);
  background-color: white;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(1,1,1,1);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#roundScores {
  overflow-x: auto;
  white-space: nowrap;
}

.playerScoreHeaderRow {
  margin-left: 100px;
}

.playerScoreHeader {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.roundScores {
}

.roundNumberHeader {
  display: inline-block;
  width: 100px;
}

.roundPlayerScores {
  display: inline;
}

.playerRoundScore {
  display: inline-block;
  width: 100px;
  text-align: center;
}
//Grid
[class*="col-"] {
  padding: 15px;
}
.col-1 {width: 8.33%;display: inline-block;}
.col-2 {width: 16.66%;display: inline-block;}
.col-3 {width: 25%;display: inline-block;}
.col-4 {width: 33.33%;display: inline-block;}
.col-5 {width: 41.66%;display: inline-block;}
.col-6 {width: 50%;display: inline-block;}
.col-7 {width: 58.33%;display: inline-block;}
.col-8 {width: 66.66%;display: inline-block;}
.col-9 {width: 75%;display: inline-block;}
.col-10 {width: 83.33%;display: inline-block;}
.col-11 {width: 91.66%;display: inline-block;}
.col-12 {width: 100%;display: inline-block;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        display: inline-block;
    }
}
