html {
  font-family: 'Roboto', sans-serif;
  min-width: 656px;
  background-color: lightgrey;
}

.page {
  margin-left: 30%;
  margin-right: 30%;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.page-header {
  text-align: center;
}

.new-game {
  width: 100%;
}

.btn {
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 5px 5px 3px #ddd;
  padding: 5px 15px;
  font-size: 16px;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.btn:hover {
  box-shadow: 3px 3px 3px #ddd;
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.input {
  width: 100%;
  border-radius: 3px;
  border-color: lightgrey;
  padding: 5px;
  border: 1.5px solid #ddd;
  margin-top: 2px;
  margin-bottom: 2px;
}

.up,
.down {
  display: inline;
}

.label {
  font-size: 20px;
}

.num-players {
  font-size: 20px;
  user-select: none;
}

.num-players::-moz-selection,
.num-players::selection {
  background-color:Transparent;
  color:#000;
}

.played-games {
  width: 100%;
}

.game-name {
  width: 50%;
  display: inline-block;
}

.game-winner {
  width: 50%;
  display: inline-block ;
}
